@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
    z-index: 100;
}

.sidebar:hover {
    width: 260px;
    border-radius: 20px;
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 83px;
    border-radius: 90%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 16px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 6px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}

  .card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 250px;
    height: 300px;
    margin: 0 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
    overflow: hidden;
  }

  .card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  .card:hover {
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }

    .card {
      margin: 10px 0;
    }
  }
  
.home {
    position: relative;
    height: 100vh;
    background: var(--body-color);
    left: 80px;
    width: calc(100% - 80px);
    transition: var(--tran-05);
  }
  
.home .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}
  
.sidebar ~ .home {
  left: 80px;
  width: calc(100% - 80px);
}
          .glass-card {
            background: rgba(255, 255, 255, 0.2);
            
            border-radius: 5px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            width: auto;
            margin: 20px;
            transition: transform 0.3s;
        }

        .glass-card:hover {
            transform: scale(1.05);
        }

        .glass-card-header {
            background: rgba(255, 255, 255, 0.2);
            padding: 20px;
            text-align: center;
        }

        .glass-card-header h2 {
            margin: 0;
            font-size: 24px;
            color: #fff;
        }

        .glass-card-content {
            padding: 20px;
        }

        .glass-card-content iframe {
            width: 100%;
            height: 300px;
            border: none;
        }
        
        .glass-card-content p {
            color: #444;
            font-size: 16px;
        }
        
        .glass-card-content a {
            color: #0077b6;
            text-decoration: none;
            font-weight: bold;
        }
        
        .glass-card-content a:hover {
            color: #023e8a;
        }
        
        .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }

      .button-container:nth-child(odd) {
        margin-right: 20px; /* Adds spacing between every two dropdown buttons */
      }

  .transparent-button {
    padding: 12px 54px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 90px;
    transition: background-color 0.3s ease, color 0.3s ease;
  } 
  
  .transparent-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }
  /* Style for the dropdown button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: auto;
  margin-top: 20px;
  transition: transform 0.3s;
}

.dropdown .dropdown-content a {
  width: 200px;
  display: block;
  padding: 13px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  overflow: visible;
}

.dropdown .dropdown-content a:hover {
  background-color: black;
}

/* Show the dropdown content when hovering over the button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for the button */
.transparent-button {
  padding: 12px 54px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 90px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.transparent-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

.btn {
            background-color: A4C639;
            color: black;
            border: block-line;
            padding: 15px 25px;
            border-radius: 20px;
            cursor: pointer;
            margin-bottom: 10px;
            display: block;
            width: 100%;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }

        .hidden-content {
            display: none;
            padding : 9px;
            padding-top: 10px;
            animation: fadeIn 0.6s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Change color to match surrounding text */
}

/* Style the link when hovered */
a:hover {
  color: #your_desired_hover_color; /* Change color on hover */
}